// FUENTES
$fuentePrincipal: 'Raleway', sans-serif;
$fuenteSecundaria:  'Roboto', sans-serif;
$fuenteTercera:'Bona Nova', serif;

// MEDIA QUERIES
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// COLORES
$primario: #5E311E;
$secundario: #C39C63;
$terceri: #ebe7de;
$negro: #000000;
$blanco: #ffff;
$grisClaro: #c2b8a8;

// UNIDADES
$separacion: 5rem;